@charset "UTF-8";

.navbar-default {
	background-color: #ff9100;
}

.navbar-nav {
	font-size: 1.3em;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #555;
	background-color: #FFB24C;
}

.navbar-collapse li {
	width: 240px;
	text-align: center;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	font-size: 1.3em;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 1.5em;
	line-height: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #ff9100;
  border-color: #2e6da4;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #FFB24C;
  border-color: #FF9100;
}

