<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<title>Insert title here</title>
<style>

	#currentLine{
		display		: inline-block;
		margin 		: 0px;
		padding 	: 0px;
		border 		: 1px solid black;
		width 		: 100px;
		height 		: 485px;
	}
	
	#icon1{
		margin 		: 4px;
		border 		: 1px solid black;
		width 		: 90px;
		height 		: 90px;
	}
	
</style>
</head>
<body>

</body>
</html>